@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --primary:rgb(140, 118, 236);
    --secondary:rgb(45, 19, 160);
    --tertiary:rgb(4, 2, 15);
    
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
}

header{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: var(--primary);

}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}